<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bahar_Pansiyon_4.Properties.Settings.BaharPansiyonConnectionString"
            connectionString="Data Source=DESKTOP-C9L9B3L\SQLEXPRESS;Initial Catalog=BaharPansiyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bahar_Pansiyon_4.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Bahar_Pansiyon_4.Properties.Settings.PansiyonnConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Pansiyonn.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>